*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comic Neue', cursive;
}

input{
    font-family: inherit;
    font-size: inherit;
    width: 50rem;
    height: 4rem;

}
input::-webkit-input-placeholder { 
    opacity: 0.4;
    text-align: center;
}

#allItems{
    margin: 15px 50px 0 50px;
    font-size: 3rem;
    cursor: pointer;
}
h1::selection {
    color: none;
    background: none;
}
    

i{
    cursor: pointer;
}

@media only screen and (max-width:1000px){
    input{
        width: 30rem;
    }
}
@media only screen and (max-width: 768px){
    input{
        width: 25rem;
    }
}
@media only screen and (max-width: 475px){
    input{
        width: 15rem;
    }
}